# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

## C/C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilk
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# VSCode
# .vscode

# Jetbrains
.idea
